* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bmiCalculator {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
	border-radius: 5px;
    text-align: center;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: red;
}


#result {
    margin-top: 20px;
}